@model BookStore.Models.Book;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details Book";
}

<div class="card">
    <h5 class="card-header">Details Book</h5>
    <div class="card-body">
        <h5 class="card-title">Title : @(Model.Title)</h5>
        <p class="card-text">Author : @(Model.Author?.Name)</p>

        <p>Quota : @(Model.Quota)</p>
        <p>Price : @(Model.Price)</p>
        
    </div>
</div>

<a asp-action="Index" class="btn btn-info btn-sm my-4">&laquo; Back to list</a>