@model MVC.DTOs.UserDto;

<h1>Users 2 Page</h1>


<form asp-controller="Home" asp-action="Users2" method="post">
    <input asp-for="Name" value="OK DEH" />
    <button class="btn btn-primary">Submit</button>
</form>